:focus {
    outline: none;
}

.inputContainer {
    margin-top: 38px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
}

.isRequired {
    color: red;
}

.InputWrapper {
    position: relative;
} /* necessary to give position: relative to parent. */

.Input {
    font-size: 15px/24px;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;

    & ~ .focusBorder {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #090909;
        transition: 0.4s;
    }

    &:focus ~ .focusBorder {
        width: 100%;
        transition: 0.4s;
    }
}
